body{
    text-align:center;
    background-image:url("bg_img.jpg");
    background-position:center;
   background-size:cover;
   background-repeat:no-repeat;
   background-attachment:fixed;
    color:white;
    font-family:monospace;
    font-weight:bold;
}
input{
    width:30%;
    background:transparent;
    border-radius:5%;
    padding:20px;
    font-size:1.5em;
    text-align:center;
    color:white;
}
button{
    color:white;
    background-color:black;
    padding:10px;
    border-radius:10%;
}
button:hover{
    opacity:.5;
    transition:all ease .5s;
    cursor:pointer;
}
button:active{
    padding:5%;
}
